@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';

}

section {
    padding: 50px 150px;
}

h3 {
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 25px;
}

.btn {
    background: #FF900E;
    padding: 20px 25px;
    border-radius: 10px;
    color: white;
    border: none;
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
    display: inline-block;
}

.description {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* header strat */

header {
    background: rgba(255, 144, 14, 0.1);
    padding: 50px 0;
}

/* nav strat  */


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 180px;
}

nav .logo h1 {
    color: #131313;
    font-weight: 600;
    font-size: 45px;
}

.main-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-menu ul li {
    list-style-type: none;
    margin-left: 50px;

}

.main-menu ul li a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 20px;

}


/* banner style */
.banner {

    padding: 50px 300px;
    text-align: center;

}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 25px;
}




.banner-section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* features-section-style */

.features-section {
    display: flex;
    align-items: center;

}

.feature-left {

    display: grid;
    grid-template-columns: repeat(2, 250px);
    gap: 20px;
}

.feature-left img {
    width: 100%;
}

.feature-right {

    margin-left: 50px;
}



.feature-title .quick {
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}

.feature-title .feature {
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}

/* feature-list-section style */

.feature-list-section {
    display: flex;
    align-items: center;
}

.feature-list-left {
    padding: 0 50px;
}



.item-container {}

.item {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.item-title {
    color: #131313;
    font-weight: 600;
    font-size: 20px;
}

.feature-list-right {
    width: 100%;
}

.feature-list-right img {
    width: 100%;

}



/* Media Queries */

/* Mobile device */

@media screen and (max-width:576px) {
    section {
        padding: 40px 50px;
    }
    h3 {
        color: #131313;
        font-weight: 600;
        font-size: 35px;
        margin-bottom: 25px;
    }

    .btn {
        margin-bottom: 35px;
        padding: 15px 20px;
        font-size: 18px;
    }

    header {
        background: pink;
        padding: 20px 0;

    }

    nav {
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
        justify-content: space-between;
        padding: 50px;

    }

    nav .logo h1 {
        color: #131313;
        font-weight: 600;
        font-size: 35px;
    }

    .main-menu ul {
        display: flex;
        flex-direction: column;
    }

    .main-menu ul li {
        /* display: flex; */
        text-align: right;
        margin-top: 20px;
        margin-left: 30px;
    }

    .main-menu ul li a {
        font-weight: 500;
        font-size: 18px;
    }

    .banner {

        padding: 0;
    }

    .banner-title {
        margin-top: 50px;
        color: #131313;
        font-weight: 700;
        font-size: 55px;

    }

    .banner-description {
        padding: 0 50px;
        font-weight: 400;
        font-size: 16px;
    }

    .banner-section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .features-section {
        display: flex;
        flex-direction: column;

    }

    .feature-left {
        display: flex;
        flex-direction: column;
    }

    .feature-right {

        margin-top: 30px;
    }

    .feature-title h3 {
        color: #131313;
        font-weight: 700;
        font-size: 35px;
    }

    .feature-title .quick {
        color: #727272;
        font-weight: 500;
        font-size: 35px;
    }

    .feature-title .feature {
        color: #FF900E;
        font-weight: 700;
        font-size: 35px;
    }

    .feature-list-left {
        padding: 0;
    }
    

    .feature-list-section {
        display: flex;
      flex-direction: column
    }
    .feature-list-right {
        margin-top: 25px;
    }
}